10_atcoder/ABC/
cotire/
CMakeFiles/
10_atcoder/Contest/
cmake-build-debug/
*.out
.idea/
Makefile
tmp/
*.cmake
zzz.cpp
untitled.cbp
prime
main
_0_test/
10_atcoder/test/test/sample-1.in
a.py
a.c
_basic
CMakeCache.txt
